@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the (AB# tahe2) Machine: @Environment.MachineName </h1>
    <br>
    <h1 class="display-4">Hey user (@Environment.UserName), where have you been?</h1>
    <br>
    <h1 class="display-4">You're hanging out on: @Environment.OSVersion.ToString()</h1>    
    <br>
    <br>
    <p>Learn about <a href="https://en.wikipedia.org/wiki/Welcome_to_the_Machine">the reference being made on this page</a>.</p>
</div>
